[Twitter API Keys]
api_key = 
api_secret = 
token_access = 
secret_token = 

[Count]
time = 900
# Changes the time to tweet IN seconds.
currentcount = 0
# Users that have been counted

[Tries]
# This is used just in case if you get rate-limited on Twitter.
currenttry = 0
maximumtries = 15 

[IDs]
lastid = 1390874933
# Last ID is the last registered ID. This could be edited by the RecentROBLOXUsers.py script if being run.